<div class="container mt-5">
    <!-- Contact Us DataTable -->
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered text-center" id="contactUsTable">
            <thead class="thead-dark">
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Message</th>
                    <th>Submitted At</th>
                    <th colspan="2" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts; let i = index; trackBy: trackByFn">
                    <td>{{ i + 1 }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phoneNumber }}</td>
                    <td>{{ contact.message | slice:0:50 }}{{ contact.message.length > 50 ? '...' : '' }}</td>
                    <!-- Display message snippet -->
                    <td>{{ contact.submittedAt | date:'short' }}</td>
                    <td class="text-center" style="justify-items: center;">
                        <!-- View Details Button -->
                        <button class="btn btn-info"  (click)="viewContact(contact)"
                            style="display: flex; align-items: center; gap: 5px;">
                            <mat-icon style="color: white;">visibility</mat-icon>
                        </button>
                    </td>
                    <td class="text-center" style="justify-items: center;">
                        <!-- Delete Button -->
                        <button class="btn btn-danger" (click)="deleteContact(contact)"
                            style="display: flex; align-items: center; gap: 5px;">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>