@font-face {
  font-family: "Emirates"; /* Give the font a name */
  src: url("assets/fonts/Emirates.otf") format("opentype"),
    url("assets/fonts/Emirates.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Apply the font globally */
/* body {
    font-family: 'Emirates', sans-serif;
} */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212; /* Dark background */
  color: white; /* White text */
}

/* Additional Dark Mode Styling */
body.dark-mode .navbar {
  background-color: #333; /* Dark navbar background */
}

body.dark-mode .btn-outline-light {
  border-color: white; /* Dark mode button */
  color: white;
}

body.dark-mode .btn-light {
  background-color: #333;
  color: white;
}

/* .custom-dialog-container {
  z-index: 1050 !important;
}

ngx-material-timepicker-overlay {
  z-index: 1100 !important;
} */

/* Ensure dialog overlay container is on top */
/* Global z-index management */
/* .cdk-overlay-container {
  z-index: 1000000 !important; 
}

.ngx-material-timepicker-overlay {
  z-index: 1000001 !important; 
}

.ngx-material-timepicker {
  z-index: 1000002 !important; 
} */

.timepicker-overlay {
  z-index: 10000000 !important;
}

/* Ensure the backdrop overlay is also above other elements */
.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}
