<section class="vh-100">
    <div class="container-fluid h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-4">
                <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)" novalidate>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3ExamplePassword">New Password:</label>
                        <input type="password" id="form3ExamplePassword" class="form-control form-control-lg"
                            name="password" ngModel required minlength="8"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                            #password="ngModel" placeholder="Enter your new password" />
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
                            <div *ngIf="password.errors?.['required']">Password is required.</div>
                            <div *ngIf="password.errors?.['minlength']">Password must be at least 8 characters long.
                            </div>
                            <div *ngIf="password.errors?.['pattern']">Password must include at least one uppercase
                                letter, one lowercase letter, one number, and one special character.</div>
                        </div>
                    </div>

                    <!-- Confirm Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3ExampleConfirmPassword">Confirm Password:</label>
                        <input type="password" id="form3ExampleConfirmPassword" class="form-control form-control-lg"
                            name="confirmPassword" ngModel required #confirmPassword="ngModel"
                            placeholder="Confirm your new password" />
                        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                            class="error">
                            <div *ngIf="confirmPassword.errors?.['required']">Confirm Password is required</div>
                        </div>
                        <div *ngIf="confirmPassword.touched && (password.value !== confirmPassword.value)"
                            class="error">
                            Passwords must match
                        </div>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg" [disabled]="resetPasswordForm.invalid"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>